body {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0;
   
    background-color: #f5f5f5;
}

.logo {
    height: 50px; 
    float: left; 
    margin-right: 15px;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(189, 80, 83, 1);
    color: white;
    padding: 15px 30px;
}


#header-item {
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#header-item:hover {
    background-color: rgb(98, 47, 80)
}
nav li.active a {
    border-bottom: 2px solid #ffffff; 
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: rgba(251, 244, 210, 1);
    text-align: end;
}

nav ul li a {
    color:  rgba(251, 244, 210, 1);
    text-decoration: none;
}

main {
    margin-left: 20px;
    padding: 20px;
    background-color:  rgba(246, 245, 236, 1);
}
.main {
    padding: 20px;
}



.form-section h2 {
    border-bottom: 2px solid rgba(189, 80, 83, 1);
    padding-bottom: 5px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type="file"] {
    border: none;
}

button {
    grid-column: span 2;
    padding: 10px;
    background-color: rgba(189, 80, 83, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(189, 80, 83, 1);
}




.main-form-estudios {
    display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
  margin-bottom: 20px;
}

.form-section,
.estudio-section {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.form-section form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 45%;
}

.form-group input,
.form-group select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}




.radio-group {
    margin-top: 10px;
}


.terminos {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
.terminos p {
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group input {
    margin-right: 10px;
   cursor: pointer;
}


.attach-section {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .submit-button button {
    width: 100%;
    padding: 15px;
    background-color: rgba(189, 80, 83, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button button:hover {
    background-color: #a94042;
    width: 100%;
  }



  .footer {
    background-color: #ba4a4d;
    color: #f5edcd;
    font-family: sans-serif;
    padding: 30px 20px 10px;
    margin-top: 40px;
  }
  
  .footer-contenedor {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .footer-izq {
    flex: 1;
    text-align: center;
  }
  
  .footer-logo {
    height: 100px;
  }
  
  .footer-centro {
    flex: 2;
    max-width: 500px;
  }
  
  .footer-centro p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1e1e1e;
  }
  
  .footer-centro  {
    font-size: 18px;
    margin-right: 18px;
    color: #1e1e1e;
  }
  .social-contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-right: 30%;
  }
  
  .social-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #1e1e1e;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 12px;
  }
  
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
 
  .footer-abajo {
    margin-top: 10px;  
    border-top: 1px solid #f5edcd;
    padding-top: 1px;
    text-align: center;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
 
    display: flex;
    justify-content: left;
    gap: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px !important; 
  }
  

  .footer-nav{
    display: flex;
    justify-content: flex-start; 
    gap: 0px; 
   
}
  
  
  .footer-nav li {
    padding: 10px;
   color: black;
    list-style-type: none;
   
    
  }
  
  .footer-nav li:hover {
    background-color: rgb(98, 47, 80);
   padding: 8px;
  
    border-radius: 14px;
  }
  
  .copyright {
    margin: 0;
    margin-right: 40px;
    text-align: end;
    font-size: 14px;
    color: #3d3d3d;
  }
  .icono-flaticon {
    margin-right: 18px; 
  }
  




  @media (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }

    .footer-contenedor {
        flex-direction: column;
        align-items: center;
    }

    .footer-izq {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-centro {
        text-align: center;
        max-width: 100%;
        margin-right: 0;
    }

    .social-contenedor {
        justify-content: center;
        margin-right: 0;
    }

    .footer-nav ul {
        display: flex; 
        justify-content: center; 
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .footer-nav li {
        margin: 0 15px; 
        font-size: 14px;
        text-align: center; 
        padding: 10px;
    }

   
    .footer-nav li:hover {
        background-color: rgb(98, 47, 80);
        border-radius: 5px;
    }

    .copyright {
        text-align: center;
        margin-top: 20px;
    }

    .main-form-estudios {
        flex-direction: column;
        gap: 20px;
    }

    .form-section, .estudio-section {
        width: 90%;
    }

    .form-group, .radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label, .form-group input, .form-group select {
        width: 100%;
    }

    .footer-logo {
        height: 80px;
    }

    .footer-centro p {
        font-size: 14px;
    }
    
    .footer-contenedor {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        align-items: center;
        padding: 0;
    }

    .footer-izq {
        flex: 1;
        text-align: center;
        padding: 0;
        margin-bottom: 0; 
    }

    .footer-centro {
        flex: 2;
        text-align: center;
        margin-top: 0; 
    }
    .footer-logo {
        height: 70px; 
    }

    .footer-nav {
        gap: 10px; 
    }


    .footer-nav li:hover {
        background-color: rgb(98, 47, 80);
        border-radius: 5px;
    }

    .social-contenedor {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 15px;
    }

    #header-item {
        font-size: 14px;
        margin: 5px 0;
    }

    .logo {
        height: 40px;
    }
    .footer-contenedor {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 0;
    }

    .footer-izq {
        flex: 1;
        text-align: center;
        padding: 0;
        margin-bottom: 0; 
    }

    .footer-centro {
        flex: 2;
        text-align: center;
        margin-top: 0; 
    }

    .footer-logo {
        height: 70px; 
    }

    .footer-nav {
        gap: 10px; 
    }

    .footer-nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        padding: 0;
        list-style: none;
    }

    .footer-nav li {
        font-size: 14px;
        padding: 10px;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .footer-nav li:hover {
        background-color: rgb(98, 47, 80);
        border-radius: 5px;
    }

    .social-contenedor {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


    .form-section h2, .estudio-section h2 {
        font-size: 20px;
    }

    .form-group {
        flex-direction: column;
        width: 100%;
    }

    .form-group input, .form-group select {
        width: 90%;
    }

    .terminos {
        width: 90%;
    }

    .submit-button button {
        width: 100%;
    }

    .footer-nav li:hover {
        background-color: rgb(98, 47, 80);
    }
}
@media (max-width: 480px) {
    header {
        padding: 10px 15px;
    }

    .footer-contenedor {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        align-items: center;
        padding: 0;
    }

    .footer-izq {
        flex: 1;
        text-align: center;
        padding: 0;
        margin-bottom: 0; 
    }

    .footer-centro {
        flex: 2;
        text-align: center;
        margin-top: 0; 
    }

    .footer-logo {
        height: 70px; 
    }

    .footer-nav {
        gap: 10px;
    }

    .footer-nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        padding: 0;
        list-style: none;
    }

    .footer-nav li {
        font-size: 14px;
        padding: 10px;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .footer-nav li:hover {
        background-color: rgb(98, 47, 80);
        border-radius: 5px;
    }

    .social-contenedor {
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .copyright {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }

    .attach-section {
        width: 82%;
    }

    .terminos {
        width: 79%;
    }

    .footer-abajo {
        margin-top: 10px;
    }
}

